*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Athiti', sans-serif;
    font-weight: bolder;
}
body{
  background: linear-gradient(to right,#b3fab4, #81db83);
}
#mainContainer{
  height:600px;
  width:350px;
  background-color: #333333;
  display:flex;
  flex-direction:column;
  margin:0 auto;
  margin-top:50px;
  box-shadow:0 0 100px #333333;
}
#mainContainer > #date{
  flex:2;
  padding: 8px;
  display:flex;
  justify-content:center;
  align-items:center;
  color: white;
}
#mainContainer > #goal{
  flex:6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#goal > div{
    height: 65%;
    width: 183.88px;
    border-radius: 50%;
    box-shadow: 0 0 100px #5a5a59;
}
#mainContainer > #nutrients{
  flex:2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nutrients > #wrapper{
    width: 90%;
    height: 80%;
    display: flex;
    padding: 4px;
    color: white;
}
#wrapper > .progressbars{
    flex: 2;
    padding: 8px;
}
#wrapper > .info{
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px; 
}
#mainContainer > #calorie{
  flex:3;
  display: flex;
  justify-content: center;
  align-items: center
}
#calWrapper{
  width: 75%;
  height: 70%;
  display: flex;
  background-color: #b07dfc;
  color: white;
}
#calWrapper > div{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#raised{
  background-color: white;
  position: relative;
  position: relative;
  bottom: 10px;
  right: 10px;
  color: black;
}
#raised > p{
  color: #b9b9b9;
}