*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Athiti', sans-serif;
    font-weight: bolder;
}
#mainContainer{
  height:500px;
  width:350px;
  border:1px solid black;
  display:flex;
  flex-direction:column;
}
#mainContainer > #date{
  flex:2;
  background-color:cyan;
  padding: 8px;
  display:flex;
  justify-content:center;
  align-items:center;
}
#mainContainer > #goal{
  flex:6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#goal > div{
    height: 80%;
    width: 183.88px;
}
#mainContainer > #nutrients{
  flex:2;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nutrients > #wrapper{
    width: 90%;
    height: 80%;
    display: flex;
    padding: 4px;
}
#wrapper > .progressbars{
    flex: 2;
    padding: 8px;
}
#wrapper > .info{
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:12px; 
}
#mainContainer > #calorie{
  flex:3;
  background-color:cyan;
}