body{
    padding: 0;
    margin:0;
    background: #262626;
}
.hexagon
{
    width: 190px;
    height: 109px;
    background: #fff;
    position: absolute;
}
.hexagon:before,.hexagon:after{
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
}
.hexagon:before{
    transform:rotate(60deg);
}
.hexagon:after{
    transform:rotate(-60deg);
}
#first{
    top:50%;
    left: 20%;
    transform: translate(-50%,-50%);
}
#second{
    top:50%;
    left: 40%;
    transform: translate(-50%,-50%);
}
#second,#second:before,#second:after{
    background: transparent;
    border: 1px dashed #fff;
}
#third{
    top:50%;
    left: 60%;
    transform: translate(-50%,-50%);
}
#third,#third:before,#third:after{
    background:rgba(48, 141, 255, 0.5);
}