* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

#mainContainer {
    width: 900px;
    height: 650px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 20px;
}

.container {
    width: 450px;
    height: inherit;
}

#left {
    background: #cdcdcd;
    display: flex;
    box-sizing: border-box;
}

#right {
    background: #f1c40f;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right>img {
    height: 500px;
    box-shadow: 0 0 50px #fff;
}

#nav {
    width: 75px;
    background: #dddddd;
    box-sizing: border-box;
}

#content {
    width: 375px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#description {
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#description>p {
    letter-spacing: 2px;
    line-height: 1.8em;
}

#ratingHeader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

#ratingHeader>ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#ratingHeader>ul>li {
    padding-right: 4px;
}

.yellow {
    color: #f1c40f;
}

.grey {
    color: #bdc3c7;
}

#quantity {
    width: 150px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}