* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

#mainContainer {
    width: 900px;
    height: 650px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 20px;
}

.container {
    width: 450px;
    height: inherit;
}

#left {
    background: #cdcdcd;
    display: flex;
    box-sizing: border-box;
}

#right {
    background: #f1c40f;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right>img {
    height: 500px;
    box-shadow: 0 0 50px #fff;
}

#nav {
    width: 75px;
    background: #dddddd;
    box-sizing: border-box;
}

#content {
    width: 375px;
    box-sizing: border-box;
}