* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

body {
    background: #cdcdcd;
}

#mainConatiner {
    width: 750px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}

#cityImage {
    flex: 3;
    /*   background:#fff; */
    background-image: url('https://static.pexels.com/photos/290386/pexels-photo-290386.jpeg');
    background-size: cover;
    background-position: -200px;
}

#cityDesc {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

#header {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 36px;
}