* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

body {
    background-image: url('https://static.pexels.com/photos/374710/pexels-photo-374710.jpeg');
    background-size: cover;
}

#mainConatiner {
    width: 750px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}

#cityImage {
    width: 450px;
    background-color: rgba(127, 140, 141, 0.65);
    padding: 10px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

#citytags {
    height: 180px;
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#citytags>h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 54px;
    color: white;
}

#tags {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    border-top: 2px solid #fff;
    color: #fff;
}

#cityDesc {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
}

#subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*   width:80%; */
    padding: 8px 4px 4px 4px;
    border-bottom: 2px solid #cdcdcd;
}

#desc {
    padding: 8px 4px;
    color: #7f8c8d;
    font-family: 'Dosis', sans-serif;
}

#album {
    height: 70px;
    width: 100%;
    display: flex;
}

#album>div {
    flex: 1;
    cursor: pointer;
}

#one {
    background-image: url("https://static.pexels.com/photos/41083/pexels-photo-41083.jpeg");
    background-size: cover;
}

#two {
    background-image: url("https://static.pexels.com/photos/97516/pexels-photo-97516.jpeg");
    background-size: cover;
}

#three {
    background-image: url("https://static.pexels.com/photos/220824/pexels-photo-220824.jpeg");
    background-size: cover;
}

#four {
    background-color: #bdc3c7;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}