* {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Condensed', sans-serif;
}

body {
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#mainContainer {
  width: 900px;
  height: 650px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid;
  display: flex;
}

#playerImg {
  width: 400px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

#playerImg>img {
  height: 650px;
}

#playerDesc {
  width: 500px;
  height: inherit;
  background-color: #cdcdcd;
  box-sizing: border-box;
  padding: 20px;
}

#header>h1 {
  font-weight: 100;
  letter-spacing: 0.2em;
}