*{
  font-family: 'Varela Round', sans-serif;
  box-sizing:border-box;
}
#mainContainer{
  width:350px;
  height:600px;
  border:1px solid black;
  margin:0 auto;
  display:flex;
  flex-direction:column;
}
#header{
  flex:1;
  background-color:cyan;
  display:flex;
  justify-content:center;
  align-items:center;
}
#city{
  flex:1;
  background-color:lightpink;
  display:flex;
  justify-content:center;
  align-items:center;
}
#tempInfo{
  flex:4;
  background-color:hotpink;
  display: flex;
  justify-content:center;
  align-items:center;
}
#wrapper{
  width:80%;
  height:100px;
  margin:0 auto;
  display:flex;
  justify-content:space-around;
}
#wrapper > div > h4{
  margin:0;
  margin-top:12px;
  font-size:30px;
}
#wrapper > div > p{
  margin:0;
}
#weatherinfo{
  flex:6;
  background-color:lightgreen;
}
#range{
  display:flex;
  flex-direction:column;
}
#range > h4{
  margin:0;
  text-align:center;
  padding:8px;
}
#range >div{
  display:flex;
  justify-content:space-around;
}
#range >div > h5{
  margin:0;
}
#wind{
 width:80%;
  height:100px;
  margin:0 auto;
  display:flex;
  justify-content:space-around;
  padding:8px;
}
#wind > div > h5{
  margin:0;
  padding:8px;
}