* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*   font-family: 'Abel', sans-serif; */
    font-family: 'Arimo', sans-serif;
}

.mainContainer {
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 0 15px #2323;
    display: flex;
    align-items: center;
    padding: 8px 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgHolder {
    height: 900px;
    position: relative;
    left: 70px;
}

.imgHolder>img {
    height: 850px;
}

.content {
    height: 600px;
    width: 400px;
    margin-left: 10px;
}

.content>.header {
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.content>.header>.logoHolder {
    height: 70px;
    width: 70px;
    margin-right: 20px;
}

.content>.header>.logoHolder>img {
    height: 65px;
}

.content>.header>h1 {
    color: #368caf;
    letter-spacing: 2px;
}

.content>.bio {
    height: 180px;
    padding: 10px 38px;
    line-height: 2.2em;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 14px;
}

.details {
    width: 320px;
    height: 250px;
    margin: 0 auto;
    margin-top: 8px;
}

.details>.header {
    padding: 8px;
    background: #0097c3;
    width: 90px;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bolder;
}

.info {
    display: flex;
    margin-top: 12px;
}

.info>div {
    width: 120px;
}

.info>.right {
    width: 200px;
}

.left>div,
.right>div {
    width: inherit;
    height: 25px;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 2px;
    margin-bottom: 8px;
}

.left {
    color: #cdcdcd;
}

.position {
    width: 320px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.position>.common {
    display: flex;
    height: 30px;
    margin-top: 8px;
}

.position>.common>div {
    width: 160px;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 14px;
}

.down>div {
    padding-left: 8px;
}

.position>.common>div>.header {
    padding: 8px;
    background: #0097c3;
    width: 100px;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

.leftFooter {
    height: inherit;
    border-left: 2px solid #0097c3;
    position: relative;
    left: 150px;
}

.leftFooter>.icons {
    width: 50px;
    text-align: center;
    color: #0097c3;
    position: relative;
    left: -25px;
    top: 50px;
    background: white;
}

.leftFooter>.icons>i {
    padding: 12px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.leftFooter>.icons>i:hover {
    background: #0097c3;
    color: white;
}

.adi {
    position: relative;
    left: -70px;
    top: 400px;
    width: 100px;
    height: 70px;
}

.adi>img {
    height: 70px;
}