*{
  margin:0;
  padding:0;
}
body{
  background-color:#2ecc71;
}
#mainContainer{
  width:800px;
  height:600px;
  box-sizing:border-box;
  border-radius:0.3em;
  margin:0 auto;
  display:flex;
  margin-top:60px;
   box-shadow: 0 0 20px #000000;
}
#mainContainer > div{
  flex:1;
  box-sizing:border-box;
}
#songPoster{
  background-image:url("https://i.pinimg.com/originals/c8/ee/dd/c8eedd37acf4999d48e54724908498a3.jpg");
  background-size:cover;
  border-top-left-radius:0.3em;
  border-bottom-left-radius:0.3em;
}
#songInfo{
  background-color:#ecf0f1;
  border-top-right-radius:0.3em;
  border-bottom-right-radius:0.3em;
  padding:20px;
}
#header > h1{
  font-family: 'Concert One', cursive;
  padding:8px 0;
  font-size:36px;
}
#artist{
  display:flex;
  align-items:center;
  margin-top:10px;
  margin-bottom:10px;
}
#artist > p{
  font-family:"Nunito";
  padding:0 10px;
}
#trackImage > img{
/*   padding:4px; */
  height:45px;
  border-radius:50%;
}
#playback{
  width:90%;
  margin:0 auto;
  height:5px;
  background-color:#7f8c8d;
  border-radius:12px;
}
#progress{
  width:75%;
  height:5px;
  background-color:#e67e22;
  border-radius:12px;
}
#timeline{
  width:90%;
  margin:0 auto;
  font-family:"Nunito";
  padding:4px 8px;
  display:flex;
  justify-content:space-between;
}
#buttons{
  display:flex;
  justify-content:space-around;
  width:60%;
  margin:0 auto;
}
.buttonContainer{
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  border-radius:50%;
}
.buttonContainer > img{
  height:40px;
}
#info{
  padding:12px;
  font-family:"Nunito";
/*   line-spacing: */
  width:80%;
  margin:0 auto;
  margin-bottom:20px;
}
#info > p{
  line-height:2.0;
}
#share{
  width:80%;
  margin:0 auto;
  display:flex;
  font-family:"Nunito";
  padding:8px;
  margin-top:45px;
  border-top:2px solid #95a5a6;
}
#share > div{
  flex:1;
  display:flex;
  align-items:center;
}
#share > div > span{
  padding:0 8px;
}
#share > div > i{
  padding:0 6px;
  font-size:20px;
  cursor:pointer;
}