* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

.mainContainer {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid;
    display: flex;
    background: #232323;
    color: white;
}

.left {
    width: 600px;
    height: inherit;
    border-right: 1px solid;
    padding: 20px;
}

.left>.header {
    width: 560px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 12px;
    border: 1px solid;
}

.left>.dateContainer {
    height: 400px;
    width: 560px;
    border: 1px solid;
    padding: 10px;
}

.left>.dateContainer>.dateheading {
    width: 540px;
    height: 30px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left>.dateContainer>.dateheading>.day {
    width: 50px;
    height: inherit;
    color: #bdc3c7;
    letter-spacing: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.left>.dateContainer>.row {
    width: 540px;
    height: 60px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left>.dateContainer>.row>.date {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.right {
    width: 400px;
    height: inherit;
}

.active {
    color: white;
    background: #1abc9c;
}