* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

.mainContainer {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid;
    display: flex;
    background: #232323;
    color: white;
}

.left {
    width: 600px;
    height: inherit;
    border-right: 1px solid;
    padding: 20px;
}

.left>.header {
    width: 560px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.left>.header>.months {
    width: inherit;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left>.header>.months>.nac {
    font-size: 12px;
    color: #95a5a6;
    letter-spacing: 2px;
    font-weight: bolder;
}

.left>.header>.months>.ac {
    font-size: 24px;
    letter-spacing: 4px;
}

.left>.dateContainer {
    height: 350px;
    width: 560px;
    padding: 10px;
}

.left>.dateContainer>.dateheading {
    width: 540px;
    height: 30px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left>.dateContainer>.dateheading>.day {
    width: 50px;
    height: inherit;
    color: #bdc3c7;
    letter-spacing: 3px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

.left>.dateContainer>.row {
    width: 540px;
    height: 50px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left>.dateContainer>.row>.date {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.active {
    color: white;
    background: #1abc9c;
}

.status {
    width: 560px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.status>.dateinfo {
    width: 200px;
    height: 30px;
    padding: 4px 8px;
    color: #232323;
    background: #fff;
    border-radius: 1.2em;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: bolder;
}

.status>.acstats {
    width: 300px;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: bolder;
}

.right {
    width: 400px;
    height: inherit;
    padding: 20px;
    color: white;
}

.right>.logo {
    width: 360px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo>.logoicon {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background: #f1c40f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoicon>img {
    height: 30px;
}

.logo>.logotitle {
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bolder;
}

.right>.tasks {
    height: 200px;
    color: #232323;
    border-radius: 3px;
    background: #fff;
    padding: 4px 16px;
}

h4 {
    font-size: 16px;
    letter-spacing: 2px;
    padding: 4px 0;
    border-bottom: 2px solid #232323;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.tasks>.act {
    padding: 4px;
    height: 30px;
    color: white;
    background: #232323;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 13px;
    border-radius: 5px;
}

.tasks>.act>.time {
    width: 70px;
    margin-right: 12px;
    padding: 0 8px;
    border-right: 1px solid;
    color: #2ecc71;
    font-weight: bold;
}

.tasks>.act>.content {
    letter-spacing: 2px;
}

.taskstatus>.tstatus {
    display: flex;
    justify-content: space-between;
}

.taskstatus>.tstatus>div {
    width: 150px;
    height: 25px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    letter-spacing: 2px;
}